.navbar {
    height: 80px !important;
    transition: 0.5s;
}

.scrollnav {
    background-color: white !important;
}

.nav-item {
    margin-right: 10px;
}

.scrollnav .nav-link {
    color: black !important;
}

.nav-link {
    color: black !important;
    font-weight: bold;
}

.foot {
    background: black !important;
    color: white;
}

.header {
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
}
.bg-slider {
    height: calc(100vh - 80px);
    overflow: hidden;
}
.splide__slide img {
    max-height: calc(100vh - 80px);
    min-width: 100%;
    object-fit: cover;
    object-position: center center;
}
.bg-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    color: whitesmoke;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.flex-child {
    border-radius: 0;
    flex: 1 0 12%;
    height: 100px;
    background-color: blue;
    cursor: pointer;
}
.flex-child:hover {
    transform: scale(1.05);
    z-index: 999;
}

.login-div {
    width: 50%;
    margin: auto;
    padding: 150px 50px;
    min-height: calc(100vh - 150px);
}

.register-div {
    width: 50%;
    margin: auto;
    padding: 100px 50px;
    min-height: calc(100vh - 150px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.mybtn {
    padding: 10px;
    border-radius: 25px;
    color: white;
    background: black;
}

.book-card {
    padding-top: 50px;
}

.search-div {
    width: 50%;
}

.search-input {
    width: 100%;
    border-radius: 25px;
    border: 0px;
    height: 50px;
    padding: 20px
}

*:focus {
    outline: none;
}

.alert {
    width: 60% !important;
    margin: auto;
    text-align: center
}

@media only screen and (max-width: 1080px) {
    .login-div,
    .register-div {
        width: 98% !important;
    }
    .search-div {
        width: 100%
    }
    .nav-item {
        text-align: center;
    }
    .scrollnav .navbar-collapse {
        background-color: white;
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, 0.5);
        margin: .5rem -1rem;
        padding: .5rem 1rem;
    }
    .alert {
        width: 100%
    }
}